body{
background:#d8dcee;
font-family:Arial;
}

.container{
width:700px;
margin:auto;
text-align:center;
}

.search-table{
margin:auto;
border-collapse:collapse;
}

.search-table td{
border:1px solid #999;
padding:10px;
}

input{
padding:8px;
width:250px;
}

button{
padding:8px 15px;
cursor:pointer;
}

.result-box{
width:900px;
margin:auto;
}

#marksTable{
size: 25px;
width:100%;
border-collapse:collapse;
margin-top:20px;
}

#marksTable th{
background:#8bdd8b;
}

#marksTable th,
#marksTable td{
border:1px solid #888;
padding:8px;
text-align:center;
}